In [24]:
from pyincore import IncoreClient
from pyincore.analyses.housingunitallocation import HousingUnitAllocation

In [25]:
# Connect to IN-CORE service
client = IncoreClient()

### Housing unit allocation for Joplin, MO

In [26]:
# Joplin, MO, House unit inventory, 2ev3_2019-08-06_HUinventory
housing_unit_inv = "5dfd1104fc33d500081556b6"

# Joplin, MO, Address point inventory, 2ev2_2019-08-01_addresspointinventory
address_point_inv = "5dbc6ba1b9219c06dd222bab"

# Joplin, MO, Building inventory, 2ev2_2019-08-12_buildinginventory
building_inv = "5dbc781db9219c06dd2429ca"

In [27]:
# Create housing allocation 
spa = HousingUnitAllocation(client)

# Load input dataset
spa.load_remote_input_dataset("housing_unit_inventory", housing_unit_inv)
spa.load_remote_input_dataset("address_point_inventory", address_point_inv)
spa.load_remote_input_dataset("building_inventory", building_inv)

# Specify the result name
result_name = "IN-CORE_1bv6_housingunitallocation"

seed = 1238
iterations = 1

# Set analysis parameters
spa.set_parameter("result_name", result_name)
spa.set_parameter("seed", seed)
spa.set_parameter("iterations", iterations)

Dataset already exists locally. Reading from local cache.
Dataset already exists locally. Reading from local cache.
Dataset already exists locally. Reading from local cache.

True

In [28]:
# Run Housing unit allocation analysis
spa.run_analysis()

True

In [29]:
# Retrieve result dataset
result = spa.get_output_dataset("result")

# Convert dataset to Pandas DataFrame
df = result.get_dataframe_from_csv(low_memory=False)

# Display top 5 rows of output data
df.head()

,strctid,statefp10,tractce10,pumgeoid10,pumname10,address1,house_no,parid_card,struct_typ,str_prob,...,gqpop,ownershp,race,hispan,hispan_flag,vacancy,gqtype,hhinc,randomhu,aphumerge
0,S0021177,29.0,10100.0,2902800.0,Jasper & Newton Counties PUMA,602 N MICHIGAN AVE,602,NaN,NaN,NaN,...,0.0,1.0,1.0,0.0,1.0,0.0,0.0,3.0,0.414422,both
1,S0023095,29.0,10100.0,2902800.0,Jasper & Newton Counties PUMA,828 SENECA ST,828,NaN,NaN,NaN,...,0.0,1.0,1.0,0.0,1.0,0.0,0.0,3.0,0.927559,both
2,S0021178,29.0,10100.0,2902800.0,Jasper & Newton Counties PUMA,1115 E FRANKLIN DR,1115,NaN,NaN,NaN,...,0.0,2.0,1.0,0.0,1.0,0.0,0.0,2.0,0.391309,both
3,S0023093,29.0,10100.0,2902800.0,Jasper & Newton Counties PUMA,812 SENECA ST,812,NaN,NaN,NaN,...,0.0,1.0,1.0,0.0,1.0,0.0,0.0,2.0,0.090391,both
4,S0023044,29.0,10100.0,2902800.0,Jasper & Newton Counties PUMA,711 N MICHIGAN AVE,711,NaN,NaN,NaN,...,0.0,1.0,7.0,0.0,2.0,0.0,0.0,NaN,0.790862,both